@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

@import "tailwindcss";

@theme {
  --font-primary: "Rubik", sans-serif;

  --color-primary-purple-600: hsl(246, 80%, 60%);
  --color-primary-orange-300: hsl(15, 100%, 70%);
  --color-primary-blue-300: hsl(195, 74%, 62%);
  --color-primary-pink-400: hsl(348, 100%, 68%);
  --color-primary-green-400: hsl(145, 58%, 55%);
  --color-primary-purple-700: hsl(264, 64%, 52%);
  --color-primary-yellow-300: hsl(43, 84%, 65%);

  --color-neutral-navy-950: hsl(226, 43%, 10%);
  --color-neutral-navy-900: hsl(235, 46%, 20%);
  --color-neutral-purple-500: hsl(235, 45%, 61%);
  --color-neutral-navy-200: hsl(236, 100%, 87%);
}

@layer base {
  html {
    font-size: 100%;
  }

  body {
    font-family: var(--font-primary);
    font-size: 1rem;
    background-color: var(--color-neutral-navy-950);
    color: #fff;
  }
}

@layer components {
  .hour-text {
    font-size: clamp(32px, 3vw + 1rem, 3.5rem);
    font-weight: 300;
    line-height: 1.4;
  }

  .name-text {
    font-size: clamp(1.5rem, 4vw + 1rem, 2.5rem);
    font-weight: 300;
    line-height: 1.5;
  }

  .layout-grid {
    display: grid;
    gap: 1.5rem;
    
    grid-template-areas: 
        "profile"
        "work"
        "play"
        "study"
        "exercise"
        "social"
        "selfcare";

      @media (min-width: 48rem) {
        grid-template-columns: repeat(3, minmax(0, 1fr));
        grid-template-areas: 
          "profile  profile   profile"
          "work     play      study"
          "exercise social    selfcare";
      }

      @media (min-width: 64rem) {
        grid-template-columns: repeat(4, minmax(0, 1fr));
        grid-template-areas: 
          "profile  work      play    study"
          "profile  exercise  social  selfcare";
      }
  }

  .profile {
    grid-area: profile;
  }

  .work {
    grid-area: work;
  }

  .play {
    grid-area: play;
  }

  .study {
    grid-area: study;
  }

  .exercise {
    grid-area: exercise;
  }

  .social {
    grid-area: social;
  }

  .selfcare {
    grid-area: selfcare;
  }

}
